* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-width: 600px;
  --main-margin: 10px;
}
body {
  font-family: Roboto;
}
a {
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 3px gray;
  padding: 10px;
  margin-bottom: 15px;
}

nav > div > button {
  background-color: slateblue;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-content {
  width: var(--main-width);
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
  display: flex;
  justify-content: space-between;
}
.main-container {
  width: var(--main-width);
  margin-left: var(--main-margin);
  margin-right: var(--main-margin);
}
.modal-backdrop {
  background-color: rgb(175, 175, 175, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-main {
  background-color: white;
  width: 400px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  animation: trans-modal 0.2s 1 normal;
}

@keyframes trans-modal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
  border-bottom: 1px solid rgb(216, 212, 212);
}
.modal-content {
  padding: 15px;
}
.modal-content > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-content > form > input {
  border: 1px solid rgb(65, 1, 65);

  height: 25px;
  padding: 5px;
  border-radius: 5px;
}
.modal-content button {
  background-color: slateblue;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.modal-header > span {
  cursor: pointer;
  font-weight: 900;
}
.modal-hidden {
  display: none;
}
#modal-show {
  cursor: pointer;
  color: slateblue;
}
.error {
  color: red;
}
.main-content {
  display: grid;
  margin-top: 30px;
  grid-template: auto / repeat(2, 1fr);
  gap: 20px;
}

.item-container {
  padding: 10px;
  background-color: #e5e6e6;
  border-radius: 10px;
  text-align: center;
}
.numeric-container {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 10px;
}
.numeric-container > div input {
  border: 1px solid slateblue;

  height: 25px;
  padding: 5px;
  border-radius: 5px;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #c1c5c5;
  padding: 10px;
}
#thead tr {
  font-weight: 900;
}
table {
  width: 100%;
  margin-top: 30px;
}
.edit-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.delete-category {
  background-color: red;
}
.edit-category {
  background-color: slateblue;
}
.button {
  color: white;
  border: none;
  cursor: pointer;

  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
}
.errors-container {
  color: red;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
